* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;

    .container {
        min-width: 400px;
        max-width: 500px;
    }
}

.calculator {
    background-color: #D5D5D5;
    width: 100%;
    height: 600px;
}

.top-calc {
    height: 100px;
    display: flex;
    font-size: 2em;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.bottom-calc {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}