* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    color: #F5F5F5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 750px;
        width: 500px;
        background-color: #1D1D1D;
        border-radius: 20px;
    }

    h1 {
        font-size: 50px;
        margin: 10px 0;
    }
}

.calculator {
    background-color: #1D1D1D;
    width: 90%;
    height: 80%;
}

.top-calc {
    background-color: #FFB11B;
    height: 90px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    .calc-display {
        background-color: #F5F5F5;
        width: 470px;
        height: 65px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
    }

    #result {
        font-size: 50px;
        padding-right: 10px;
        color: #1D1D1D;
    }
}

.bottom-calc {
    background-color: #FFB11B;
    height: 90%;
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 10px;

    button {     
        font-size: 40px;
        height: 90px;
        width: 90px;
        background-color: #1D1D1D;
        color: #F5F5F5;
        border: 0;
    }
    button:focus {
        outline: none;
    }

    button:hover {
        box-shadow: 0px 0px 30px 0px #1D1D1D;
    }

    #zero {
        width: 200px;
        grid-column: 1 / 3; 
    }
}