* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .container {
        min-width: 350px;
        max-width: 450px;
    }
}

.calculator {
    background-color: #D5D5D5;
    width: 100%;
    height: 500px;
}

.top-calc {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    font-size: 2em;
}

.bottom-calc {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    #zero {
        grid-column: 1 / 3; 
    }
}